<div align=center>
<h1>Places</h1>
<p><i>of Black Gold</i></p>
</div>
 
<div class="grid">
	<figure class="effect-zoe">
		<div id="map"></div>
		<figcaption>
			<h2>Choose your <span>Coffee place</span></h2>
			<p class="description">Mark restraunt, cafe or whatever bar to order takeaway coffee cup!</p> 
			</figcaption>			
	</figure>				
</div>


<script>
  function initMap() {
    var coord = {lat: 53.9005, lng: 27.559};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: coord
    });
    var marker = new google.maps.Marker({
      position: coord,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClE56ThQPOKZ9t3lQejb60T3KFt2U5yII&callback=initMap">
</script>